body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(#4B4D59, #4B7E9B);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    padding-bottom: 200px;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.maintitle {
    font-family: "ITC Machine Medium", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150px;
    margin-top: -5px;
    -webkit-text-stroke: 2px black;
    background: linear-gradient(white, orange, #BB3212);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#playerboard {
    background-image: linear-gradient(#66FFFF, #4DD9D9, #33B3B3, #1A8C8C, #006666);
    width: 650px;
    height: 650px;
    grid-column: 1/2;
}

#computerboard {
    background-image: linear-gradient(#006666, #1A8C8C, #33B3B3, #4DD9D9, #66FFFF);
    width: 650px;
    height: 650px;
    grid-column: 2/3;
}

.boardcontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    font-family: "ITC Machine Medium", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: 1px solid black;
}

.cell {
    border: 1px solid black;
    display: flex;
    align-items: end;
    justify-content: start;
    padding-left: 4px;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.5);
}

.cell:hover {
    background-color: rgba(128, 0, 0, 0.8);
}

.playerstuff {
    margin-right: 100px;
}

.computerstuff {
    margin-left: 100px;
}

.cell:nth-of-type(1)::before {
    content: "9";
}

.cell:nth-of-type(11)::before {
    content: "8";
}

.cell:nth-of-type(21)::before {
    content: "7";
}

.cell:nth-of-type(31)::before {
    content: "6";
}

.cell:nth-of-type(41)::before {
    content: "5";
}

.cell:nth-of-type(51)::before {
    content: "4";
}

.cell:nth-of-type(61)::before {
    content: "3";
}

.cell:nth-of-type(71)::before {
    content: "2";
}

.cell:nth-of-type(81)::before {
    content: "1";
}


.cell:nth-of-type(91)::before {
    content: "0";
}


.cell:nth-of-type(92)::before {
    content: "1";
}

.cell:nth-of-type(93)::before {
    content: "2";
}

.cell:nth-of-type(94)::before {
    content: "3";
}

.cell:nth-of-type(95)::before {
    content: "4";
}

.cell:nth-of-type(96)::before {
    content: "5";
}

.cell:nth-of-type(97)::before {
    content: "6";
}

.cell:nth-of-type(98)::before {
    content: "7";
}

.cell:nth-of-type(99)::before {
    content: "8";
}

.cell:nth-of-type(100)::before {
    content: "9";
}

.cordsdisplay {
    align-self: center;    
    font-family: "ITC Machine Medium", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

.ship {
    background-color: gray;
}


.hit::after {
    content: 'X';
    color: darkred;
}

.missed::after {
    content: 'X';
    color: white;
}