body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(#4B4D59, #4B7E9B);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    min-width: 90%;
    padding-bottom: 700px;
    padding-top: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}

html {
    background: linear-gradient(#4B4D59, #4B7E9B);
}

html, body {
    cursor: url("cursor.ico"), default;
}

.maintitle {
    font-family: "ITC Machine Medium", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150px;
    -webkit-text-stroke: 2px black;
    background: linear-gradient(white, orange, #BB3212);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#playerboard {
    background-image: linear-gradient(#007594, #005d94, #005094, #004494);
    width: 650px;
    height: 650px;
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
}

#computerboard {
    background-image: linear-gradient(#004494,#005094, #005d94, #007594);
    width: 650px;
    height: 650px;
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
}

.boardcontainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    font-family: "ITC Machine Medium", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: 1px solid black;
}

.cell {
    border: 1px solid black;
    display: flex;
    align-items: end;
    justify-content: start;
    padding-left: 4px;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.5);
}

.cell:hover {
    border: 5px solid rgba(128, 0, 0, 0.8);
}

.playerstuff {
    margin-right: 10px;
}

.computerstuff {
    margin-left: 10px;
}

.cell:nth-of-type(1)::before {
    content: "9";
}

.cell:nth-of-type(11)::before {
    content: "8";
}

.cell:nth-of-type(21)::before {
    content: "7";
}

.cell:nth-of-type(31)::before {
    content: "6";
}

.cell:nth-of-type(41)::before {
    content: "5";
}

.cell:nth-of-type(51)::before {
    content: "4";
}

.cell:nth-of-type(61)::before {
    content: "3";
}

.cell:nth-of-type(71)::before {
    content: "2";
}

.cell:nth-of-type(81)::before {
    content: "1";
}


.cell:nth-of-type(91)::before {
    content: "0";
}


.cell:nth-of-type(92)::before {
    content: "1";
}

.cell:nth-of-type(93)::before {
    content: "2";
}

.cell:nth-of-type(94)::before {
    content: "3";
}

.cell:nth-of-type(95)::before {
    content: "4";
}

.cell:nth-of-type(96)::before {
    content: "5";
}

.cell:nth-of-type(97)::before {
    content: "6";
}

.cell:nth-of-type(98)::before {
    content: "7";
}

.cell:nth-of-type(99)::before {
    content: "8";
}

.cell:nth-of-type(100)::before {
    content: "9";
}

.cordsdisplay {
    align-self: center;    
    font-family: "ITC Machine Medium", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

.ship {
    background-color: gray;
}

.hit::after {
    content: 'X';
    color: darkred;
}

.hit {  
    background: radial-gradient(circle, #B30000, #B35900);
    box-shadow: 
        inset 0 0 10px #B30000,
        0 0 10px #B35900
}

.sunk {
    background: gray;
}

.missed::after {
    content: 'X';
    color: white;
}

.cordinputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "ITC Machine Medium", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 25px;
}

.cordinputs > input {
    height: 30px;
}

.submitcords,
.startgame,
.randomplacebutton,
.dragdroptoggle {
    appearance: none;
    background-color: white;
    border: none;
    font-family: "ITC Machine Medium", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 30px;
    font-size: 20px;
    width: 443.61px;
}

.submitcords:hover,
.startgame:hover,
.randomplacebutton:hover,
.dragdroptoggle:hover {
    background-color: orange;
}

.errordisplay {
    border: 5px double orange;
    width: 750px;
    height: 300px;
    margin-bottom: 30px;
    text-align: center;
}

.errordisplay > h2 {
    font-family: "ITC Machine Medium", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

.errorpresent {
    background-color: orange;
    color: black;
    font-family: "ITC Machine Medium", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

.shiptypes > button {
    appearance: none;
    background-color: white;
    border: none;
    font-family: "ITC Machine Medium", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 30px;
    font-size: 20px;
}

.shiptypes > button:hover {
    background-color: orange;
}

.hightlight {
    background-color: darkslategrey;
}

button:hover {
    cursor: pointer;
}

.playershiplist {
    grid-column: 1/2;
    align-self: center;
    justify-self: end;
}

.computershiplist {
    grid-column: 4/5;
    align-self: center;
    justify-self: start;
}

td, 
th {
    border: 2px solid black;
    text-align: center;
    font-size: 15px;
}

th {
    background: orange;
}

.shiplists {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.listhits,
.listsunk {
    background-color: green;
}

.onehit {
    background-color: #7C8A00;
}

.twohit {
    background-color: #B8B800;
}

.threehit {
    background-color: #B35900;
}

.fourhit {
    background-color: #B30000;
}

.fivehit {
    background-color: #800000;
}

.listshipsunk {
    background-color: rgb(128, 0, 0);
}

.winstatus {
    width: 650px;
    height: 650px;
    position: absolute;
    font-size: 75px;
    text-shadow: gray 5px 5px;
    letter-spacing: 10px;
    background: linear-gradient(135deg, #303030 0%, #505050 50%, #303030 100%);
}

.boardcover {
    width: 650px;
    height: 650px;
    position: absolute;
    z-index: 999;
    background-image: darkgray;
    background: linear-gradient(135deg, #303030 0%, #505050 50%, #303030 100%);
    display: grid;
}

.playagainbutton {
    appearance: none;
    border: none;
    font-family: "ITC Machine Medium", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 400px;
    height: 200px;
    justify-self: center;
    align-self: center;
    font-size: 75px;
    text-shadow: gray 5px 5px;
    border: 2px solid black;
    background: linear-gradient(135deg, #303030 0%, #505050 50%, #303030 100%);
    letter-spacing: 5px;
    transition: width 0.2s ease-in-out;
}
.playagainbutton:hover {
    width: 450px;
}

.dragdropshipcontainer {
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 443.61px;
    height: 300px;
}

footer {
    width: 100vw;
    text-align: center;
    font-family: "ITC Machine Medium", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 12px;
}

.dragcarrier {
    width: 325px;
    height: 65px;
    background-color: gray;
    border: 1px solid black;
}

.dragbattleship {
    width: 260px;
    height: 65px;
    background-color: gray;
    border: 1px solid black;
}

.dragcruiser {
    width: 195px;
    height: 65px;
    background-color: gray;
    border: 1px solid black;
}

.dragsubmarine {
    width: 195px;
    height: 65px;
    background-color: gray;
    border: 1px solid black;
}

.dragdestroyer {
    width: 130px;
    height: 65px;
    background-color: gray;
    border: 1px solid black;
}
.dragcarrier:hover,
.dragbattleship:hover,
.dragcruiser:hover,
.dragsubmarine:hover,
.dragdestroyer:hover {
    background-color: lightblue;
}

.dragover {
    background-color: skyblue;
}

.beingdragged {
    background-color: lightblue;
}


